* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #eee;
    height: 100vh;
    display: flex;
}

form {
    width: 100%;
    margin: auto 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 3px 0 gray;
    border-radius: 1rem;
    padding: 1rem;
    gap: 5px;
}

@media screen and (min-width: 400px) {
    form {
        width: 400px;
        margin: auto;
    }
}

h1 {
    text-align: center;
}

input {
    padding: 5px;
    display: flex;
    width: 100%;
}

input[type=file] {
    display: none;
}

textarea {
    width: 100%;
    display: flex;
    padding: 5px;
}

.actions {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.actions > * {
    flex: 1;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-label {
    border: 1px dashed #444;
}

#image-container {
    width: 100%;
    display: none;
}

#image-container.uploaded {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}